# Dependências
node_modules/
.next/
.env
*.log

# Build
.next/

# Arquivos de ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Logs
*.log

# Sistema operacional (exemplo para macOS)
.DS_Store

# Arquivos de teste
coverage/

# Arquivos temporários
*.bak
*.swp
*.swo